body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://t3.ftcdn.net/jpg/01/41/43/84/360_F_141438480_vZ4DSzbfLULyc41QDCMxuwM3TqouDkXz.jpg');
  background-size: cover;
}
